body{display: grid; 
    grid-template-columns:1fr 1fr;
   background-color: azure;
   margin-top: 0;
    }


.main1{display: flex;
justify-content:flex-end;
align-items:center;
padding-top: 60px;}

.main2{display: flex;
justify-content: flex-end;
align-items: center;
}

.header{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom:-30px;
    padding-bottom: 35px;
    
    background-color: white;
    background-image: url(..//imagenes/logologo.jpg);
    background-repeat: no-repeat;
    background-size:350px;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
    
.main{margin-top: 45px; 
    color:rgb(22, 21, 21); 
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-style:oblique;
    line-height:30px;
    letter-spacing:5px;
    text-transform:initial;
    text-align:center;
    text-indent:30px;
    }

.aside{ margin-top: 60px;
    
    border-style: double;
    border-color: rgb(9, 9, 9);
    }
   

.footer{border-style: double;
    border-color: rgb(14, 13, 13);
    grid-column-start: 1;
    grid-column-end: 3;
    }




    @media(min-width:321px)
    {.body{background-color: blueviolet; grid-template-columns: 4fr 1fr;}}
    @media(min-width:769px)
    {.body{background-color:rgb(91, 225, 158) ; grid-template-columns:4fr 1fr;}
    }